.sea-container {
    position: fixed;
    inset-block: 0;
    inset-inline-end: -2rem;

    inline-size: 20vw;
}

.sea-container .wave-up-of-page {
    opacity: 0.4;

    position: absolute;
    inset-inline-end: 0;

    inline-size: 100%;

    transform: translateY(-100%);

    animation: wave-to-up-of-page 8000ms ease-in-out 1000ms infinite alternate;
}

.sea-container .wave-to-down {
    opacity: 0.3;

    position: absolute;
    inset-block-start: 0;

    inline-size: 100%;

    transform: translate(20%, -100%);

    animation: simple-wave-up-to-down 20000ms ease-out 1000ms infinite;
}

.sea-container .wave-to-down2 {
    opacity: 0.3;

    position: absolute;
    inset-block-start: 0;

    inline-size: 100%;

    transform: translate(20%, -100%);

    animation: simple-wave-up-to-down 20000ms ease-out 5000ms infinite;
}

.sea-container .wave-to-down3 {
    opacity: 0.3;

    position: absolute;
    inset-block-start: 0;

    inline-size: 100%;

    transform: translate(20%, -100%);

    animation: simple-wave-up-to-down 20000ms ease-out 10000ms infinite;
}
.tsunami {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;

    transform: translateY(-100%);

    animation: tsunami 25000ms linear 0ms infinite;
}

.simple-wave {
    opacity: 0.4;

    position: absolute;
    inset-inline: 0;
}

@keyframes simple-wave-up-to-down {
    0% {
        opacity: 0.4;

        inset-block-start: 0;

        transform: translate(20%, -100%);
    }

    60% {
        opacity: 0.4;

        inset-block-start: 100vh;

        transform: translate(20%, 0);
    }

    61% {
        opacity: 0;

        inset-block-start: 100vh;

        transform: translate(20%, 0);
    }

    100% {
        opacity: 0;

        inset-block-start: 0;

        transform: translate(20%, -100%);
    }
}

@keyframes wave-to-up-of-page {
    0% {
        opacity: 0.4;

        inset-block-start: 0;

        transform: translateY(-100%);
    }

    100% {
        opacity: 0.4;

        inset-block-start: 0;

        transform: translateY(0);
    }
}

@keyframes tsunami {
    0% {
        opacity: 1;

        inset-block-start: 0;

        transform: translateY(-100%);
    }

    20% {
        opacity: 1;

        inset-block-start: 100vh;

        transform: translateY(0);
    }

    99% {
        opacity: 0;

        inset-block-start: 100vh;

        transform: translateY(0);
    }

    100% {
        opacity: 0;

        inset-block-start: 0;

        transform: translateY(-100%);
    }
}

@media (max-width: 1020px) {
    .sea-container {
        display: none;
    }
}
