.sea-container {
    position: fixed;
    inset-block: 0;
    inset-inline-end: -2rem;

    inline-size: 20vw;
}

.sea-container .base-wave {
    opacity: 0.7;

    position: absolute;
    inset-block: 0;
    inset-inline-end: 0;

    inline-size: 100%;

    transition: opacity 200ms ease-in-out;
}

.sea-container .wave {
    opacity: 0.4;

    position: absolute;
    inset-inline-end: 0;

    inline-size: 100%;

    animation: simple-moving-wave 10000ms ease-in-out 1000ms infinite;
}

.tsunami {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;

    transform: translateY(-100%);

    animation: tsunami 25000ms linear 0ms infinite;
}

.simple-wave {
    opacity: 0.4;

    position: absolute;
    inset-inline: 0;
}

@keyframes simple-moving-wave {
    0% {
        opacity: 0.4;

        inset-block-start: 0;

        transform: translateY(-100%);
    }

    98% {
        opacity: 0.4;

        inset-block-start: 100vh;

        transform: translateY(0);
    }

    99% {
        opacity: 0;

        inset-block-start: 100vh;

        transform: translateY(0);
    }

    100% {
        opacity: 0;

        inset-block-start: 0;

        transform: translateY(-100%);
    }
}

@keyframes tsunami {
    0% {
        opacity: 1;

        inset-block-start: 0;

        transform: translateY(-100%);
    }

    20% {
        opacity: 1;

        inset-block-start: 100vh;

        transform: translateY(0);
    }

    99% {
        opacity: 0;

        inset-block-start: 100vh;

        transform: translateY(0);
    }

    100% {
        opacity: 0;

        inset-block-start: 0;

        transform: translateY(-100%);
    }
}
