.sea-container {
    position: fixed;
    inset-block: 0;
    inset-inline-end: -5rem;

    inline-size: 30vw;
}

.sea-container .base-wave {
    background: url("/src/assets/images/BaseWave.svg") repeat-y;
    opacity: 0.7;

    position: absolute;
    inset-block: 0;
    inset-inline-end: 0;

    inline-size: 100%;
}

.sea-container .wave {
    opacity: 0.4;

    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;

    inline-size: 100%;

    animation: simpleMovingWave 5000ms ease-in-out 0s infinite alternate;
}

.tsunami {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;

    transform: translateY(-100%);

    animation: tsunami 25000ms linear 0ms infinite;
}

@keyframes simpleMovingWave {
    0% {
        inset-block-start: 0;

        transform: translateY(0);
    }

    100% {
        inset-block-start: 100vh;

        transform: translateY(-100%);
    }
}

@keyframes tsunami {
    0% {
        opacity: 1;

        inset-block-start: 0;

        transform: translateY(-100%);
    }

    20% {
        opacity: 1;

        inset-block-start: 100vh;

        transform: translateY(0);
    }

    99% {
        opacity: 0;

        inset-block-start: 100vh;

        transform: translateY(0);
    }

    100% {
        opacity: 0;

        inset-block-start: 0;

        transform: translateY(-100%);
    }
}
